*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5;
}

header{
    background-color: white;
}

.menu{
    width: 100%;
    height: 35px;
    padding: 0 155px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(0,#ff6633,#f53d2d);
}
.menu-list{
    z-index: 1;
}
.list-item{
    display: inline-block;
    padding: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: white;
    position: relative;
}
.item a{
    text-decoration: none;
    color: white;
    position: relative;
}
.item i{
    font-size: 14px;
}
.list-item-seperate a::after{
    content:"";
    display: block;
    position: absolute;
    border-left: 2px solid rgb(248, 131, 118) ;
    height: 16px;
    top: 0px;
    right: -8px;
}
.list-item .item :hover {
    color: rgba(255, 255, 255, 0.6);
}
.list-item-icon :hover{
    color: rgba(255, 255, 255, 0.6);
}

.qr-code-header{
    max-width: 176px;
    position: absolute;
    border-radius: 2px;
    padding: 3px 3px 10px;
    left: -3px;
    top: 30px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px #00000026;
    display: none;
}
.app-download-header{
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
    margin-top: -8px;
}
.app-download-header img{
    width: 65px;
    margin-left: 10px;
    margin-top: 8px;
}
.list-item-download:hover .qr-code-header{
    display: block;
}
.notification{
    width: 300px;
    height: 300px;
    border: 1px solid rgba(43, 42, 42, 0.2);
    border-radius: 1.2%;
    right: 0;
    top: 25px;
    box-shadow: 0px 0px 20px 0px #0000002a;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transform-origin:  calc(100% - 40px) top ;
    transition: transform .2s linear, opacity .2s linear;
}
.notification::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
    position: absolute;
    right: 13px;
    top: -28px;
}

.list-item-notification:hover .notification{
    transform: scale(1);
    opacity: 1;
}
.box-language{
    width: 180px;
    height: 70px;
    top: 25px;
    right: 0;
    background-color: white;
    border-radius: 2%;
    box-shadow: 0px 0px 20px 0px #0000002a;
    border: 1px solid rgba(0, 0, 0, 0.2) ;
    position: absolute;
    transform-origin: calc(100% - 48px) 0;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.15s linear, opacity 0.15s linear;
}

.box-language::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
    position: absolute;
    right: 13px;
    top: -28px;
}
.list-item-language:hover .box-language{
    transform: scale(1);
    opacity: 1;
}

.language {
    color: black;
    margin: 13px 10px;
    font-weight: 500;
    font-size: 105%;
}
.box-language :hover{
    cursor: pointer;
    color: red;
}

.search{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1200px;
    align-items: center;
    margin: 0 auto;
}
.shopee-logo{
    display: flex;
    align-items: center;
}
.shopee-logo .name-page{
    text-decoration: none;
    color: #ee4d2d;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 21px;
    margin-left: 30px;
    margin-top: 13px;
}
.shopee-logo svg{
    width: 140px;
}
.logo{
    position: relative;
}
.logo::after{
    content:"";
    display: block;
    position: absolute;
    border-left: 1px solid rgb(248, 131, 118) ;
    height: 32px;
    top: 17px;
    right: -16px;
}
.area-search{
    border-radius: 2px;
    border: 2px solid #e0492b;
    height: 38px ;
    width: 620px;
    background-color: rgba(255, 255, 255,0.95);
    display: flex;
}
::placeholder{
    font-size: 14px;
    font-weight: 100;
}
input.box-search{
    width: 770px;
    height: 39px;
    background-color: transparent;
    margin: 0;
    border: none;
    font-size: 14px;
    color: #222222d7;
    padding-left: 10px;
}
.button{
    border-color: rgba(238, 77, 45, 0.8);
    background-color: #ee4d2d;
    margin: 1px 1px 1px 5px;
    height: 37px;
    width: 103px;
}
.button i{
    color: white;
    margin-top: 5px;
}
.button:hover{
    background-color: rgba(251, 85, 51, 0.8);
}

.main{
    width: 1200px;
    margin: 0 auto;
}
.hd-nmfree{
    margin: 20px 0 10px;
    padding: 12px 15px;
    background-color: white;
    border: 1px solid #f3db97;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.header-main{
    width: 1200px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 55px;
    background-color: white;
    font-family: Helvetica, sans-serif;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
}
.header-main ul li{
    display: inline-block;
}
.item-properties{
    text-align: center;
    color: #888;
}
.item-name{
    position: relative;
    top: -4px;
    left: 8px;
}
.checkbox{
    width: 20px;
    height: 20px;
}
._iMh{
    height: 60px;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}
._uHk2{
    display: flex;
    align-items: center;
}
._eKs{
    margin-left: 10px;
    display: flex;
}
.it1{
    margin: 0 5px;
}
._eKs a{
    display: flex;
    text-decoration: none;
}
._chat{
    border: none;
    background-color: white;
    cursor: pointer;
}
._iSp{
    width: 1200px;
    padding: 30px 40px 20px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    font-family:  Helvetica, Arial, sans-serif;
    background-color: white;
    font-size: 14px;
    color: #212121;
    box-sizing: border-box;
}
._nSp{
    padding: 9px 20px 0 10px;
}
.sp_n{
    display: flex;
    width: 337px;
    text-decoration: none;
    color: #212121;
    margin-left: 15px;
}
.pl-Sp{
    width: 184px;
    color: #757575;
}
.don-gia{
    width: 169.5px;
    padding: 0 20px;
    box-sizing: border-box;
}
.gia-tr{
    padding-right: 10px;
    text-decoration: line-through;
    color: #757575;
}
.amount{
    width: 164.65px;
    padding: 0 23px;
    box-sizing: border-box;
}
.box-cAm{
    display: flex;
    height: 32px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
}
._box-am{
    width: 50px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.amount button{
    width: 32px;
    cursor: pointer;
    background-color: white;
    border: none;
}
.tong-t{
    width: 111.4px;
    color: #ee4d2d;
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
}
.thao-tac{
    flex: 1;
    text-align: center;
    color: #212121;
}
.thao-tac button{
    display: flex ;
    border: none;
    background-color: white;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}
._tHp button span{
    max-width: 110px;
}
.thao-tac button :hover{
    color: #ee4d2d;
}
.voucher{
    width: 1200px;
    height: 61px;
    padding: 16px 0 16px 40px;
    display: flex;
    box-sizing: border-box;
    background-color: white;
    margin-top: 2px;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.voucher svg{
    width: 21px;
    height: 20px;
    fill: #ee4d2d;
    margin-right: 18px;
}
.n-VC button{
    border: none;
    background-color: white;
    margin-left: 20px;
    font-size: 14px;
    color: #0055aa;
    cursor: pointer;
}
._udVc{
    display: flex;
    height: 58px;
    width: 1200px;
    background-color: white;
    padding: 20px 20px 20px 40px;
    align-items: center;
    box-sizing: border-box;
    margin-top: 2px;
    font-family: Helvetica,  Arial,  sans-serif;
    font-size: 14px;
}
._udVc i{
    color: #00bfa5;
    font-size: 13px;
    margin-right: 23px;
}
._udVc button{
    background-color: white;
    border: none;
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #0055aa;
}
.header-bill{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    padding: 12px 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: white;
    border-bottom: 1px dashed #e8e8e8;
}
._hbm{
    display: flex;
    align-items: center;
    width: 515px;
    justify-content: space-between;
    padding-right: 30px;
    box-sizing: border-box;
}
._nlc{
    display: flex;
    align-items: center;
   
}
.header-bill svg{
    width: 21px;
    height: 20px;
    fill: #ee4d2d;
    margin-right: 10px;
}
.header-bill button{
    background-color: white;
    border: none;
    color: #0055aa;
    font-size: 14px;
}
._sPx{
    display: flex;
    flex-direction: row-reverse;
    padding: 16px 30px 16px 0;
    align-items: center;
    font-family:  Helvetica, Arial, sans-serif;
    background-color: white;
    border-bottom: 1px dashed #e8e8e8;
}
._msPx{
    width: 555px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
._msl{
    display: flex;
    font-size: 15px;
    align-items: center;
}
.check-spx{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #e7e7e7;
    margin-right: 10px;
}
._mBill{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 12px 30px 12px 40px;
    background-color: white;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
._cnht{
    display: flex;
    align-items: center;
}
._cnht button{
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 16px;
    margin-left: 15px;
}
._pall , .dl{
    color: #333333;
}
._lvmdt span{
    margin-left: 0;
    max-width: 157px;
    color: #ee4d2d;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
._xn{
    border: none;
    background-color: #ee4d2d;
    color: white;
    width: 210px;
    height: 40px;
    cursor: pointer;
}

._dxSp_{
    margin-top: 80px;
}
._dx-header{
    padding: 0 6px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
._nhd{
    text-transform: uppercase;
    color: #707070;
}
._dx-header button{
    border: none;
    background-color: transparent;
    color: #ee4d2d;
    font-size: 14px;
    cursor: pointer;
}


.cards-sptt{
    margin-top: 7px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: calc((100%/ 6));
    padding: 0 5px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
}
.card-content{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #ee4d2d00;
    box-shadow:0px 0px 3px 0px #00000038;
    margin-top: 0;
    transition: magrgin-top 0.1s linear, border-color 0.1s linear;
}
.card-content .img{
    background-image: url('./img/freeship-extra.png');
    width: 100%;
    position: relative;
}
.lable-sale{
    background-color: #fdc12b;
    position: absolute;
    right: 0;
    top: 0;
}
 
 .lable---{
   width: 36px;
   height: 32px;
   padding: 4px 2px 3px;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   text-align: center;
   font-size: 12px;
}
 .lable---::after{
    content: "";
    border-width: 0 18px 9px;
    border-color: transparent #fdc12b;
    position: absolute;
    border-style: solid;
    left: 0px;
    top: 32px;
   
}
.card-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-content-top{
    color: black;
    font-size: 12px;
    max-width: 168px;
    /* height: 28px; */

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.card-content-bottom    {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card a:hover .card-content {
    margin-top: -2px;
    box-shadow:0px 0px 15px 0px #00000027;

}

.header-rec{
    height: 50px;
    width: 1200px;
    display: flex;
    align-items: center;
    margin-top: 35px;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    color: #707070;
}
.list-rec{
    width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.card-rec{
    text-decoration: none;
    width: calc((100% - 140px) / 7);
    margin: 0 10px;
}
.img-rec img{
    width: 100%;
}
.gia-rec{
    margin: 0 auto;
    font-family: Arial, Helvetica, Arial, sans-serif;
    color: #ee4d2d;
    font-size: 14px;
}

.footer{
    margin-top: 100px;
    width: 100%;
    height: 700px;
    border-top: 4px solid red;
}
.main-content-area{
    background-color: white;
    padding: 60px 0;

}
.ar-dv{
    width: 100%;
    background-color: #fbfbfb;
    margin-top: 0;
}
.ctn-dv{
    width: 1210px;
    margin: 0 auto;
    display: flex;
    border-bottom: 2px solid #e1e1e1;
}
.it-cskh{
    padding: 5px;
    width: 20%;
    flex-grow: 1;
    font-family: Helvetica, Arial, sans-serif
}
.it-cskh .hd-cnt{
    text-transform: uppercase;
    text-decoration: none;
    color: #757575;
    font-size: 12px;
    font-weight: 700;
    margin: 40px 0 20px;
}
.list-item-cskh{
    margin: 0;
    padding: 0;
}
.list-item-cskh li a {
    color: #757575;
    font-size: 12px;
    text-decoration: none;
}
.list-item-cskh li{
    margin-bottom: 12px;
}
.quyen{
    width: 1210px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    color: #757575cb;
    font-size: 14px;
}
.quyen .rbt{
    width: 440px;
}

.quocgia{
    margin: 0;
    text-align: center;
}
.quocgia a{
    margin: 0;
    text-decoration: none;
    color: #757575cb;
    padding-right: 5px;
    border-right: 1px solid #c9c9c9;

}
.list-pt{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.list-pt li{
    margin: 0 8px 8px 0;
    display: flex;
    align-items: center;
    width: 55px;
    height: 29px;
}
.list-pt .bg{
    background-image: url('./img/lh.png');
    overflow: hidden;
}
.bg1{
    width: 53px;
    height: 18px;
    background-size: 1347.2727272727273% 983.3333333333334%;
    background-position: 84.6938775510204% 6.289308176100629%;
}
.bg2{
    width: 69px;
    height: 29px;
    background-size: 1350.272727% 618.344828%;
    background-position: 49.41691% 41.891891891891895%;
}
.bg3{
    width: 55px;
    height: 23px;
    background-size: 1347.2727272727273% 769.5652173913044%;
    background-position: 38.48396501457726% 38.311688311688314%;
}
.bg4{
    width: 55px;
    height: 24px;
    background-size: 1482% 804.5454545454545%;
    background-position: 1.447178002894356% 6.451612903225%;
}
.bg5{
    width: 50px;
    height: 29px;
    background-size: 1482% 610.3448275862069%;
    background-position: 59.91316931982634% 63.513513513513516%;
}
.bg6{
    width: 55px;
    height: 29px;
    background-size: 1347.2727272727273% 610.3448275862069%;
    background-position: 19.97084548104956% 66.21621621621621%;
}
.bg7{
    width: 55px;
    height: 12px;
    background-size: 741% 931.578947368421%;
    background-position: 71.9188767550702% 6.329113924050633%;
}
.bg-dvvc-1{
    width: 55px;
    height: 10px;
    background-size: 667.5675675675676% 983.3333333333334%;
    background-position: 65.71428571428571% 35.22012578616352%;
}
.bg-dvvc-2{
    width: 55px;
    height: 18px;
    background-size: 1347.2727272727273% 983.3333333333334%;
    background-position: 19.97084548104956% 37.735849056603776%;
}
.bg-dvvc-3{
    width: 55px;
    height: 29px;
    background-size: 1347.2727272727273% 610.3448275862069%;
    background-position: 9.037900874635568% 40.54054054054054%;
}
.bg-dvvc-4{
    width: 55px;
    height: 45px;
    background-size: 578.90625% 138.28125%;
    background-position: 88.90701468189233% 100%;
}
.bg-dvvc-5{
    width: 55px;
    height: 27px;
    background-size: 1347.2727272727273% 655.5555555555555%;
    background-position: 1.4577259475218658% 72.66666666666667%;
}
.bg-dvvc-6{
    width: 55px;
    height: 17px;
    background-size: 1347.2727272727273% 1106.25%;
    background-position: 95.6268221574344% 6.211180124223603%;
}
.bg-dvvc-7{
    width: 55px;
    height: 16px;
    background-size: 552.9850746268656% 610.3448275862069%;
    background-position: 29.9835255354201% 6.756756756756757%;
}
.bg-dvvc-8{
    width: 55px;
    height: 20px;
    background-size: 1235% 680.7692307692307%;
    background-position: 55.947136563876654% 6.622516556291391%;
}
.bg-dvvc-9{
    width: 55px;
    height: 22px;
    background-size: 1029.1666666666667% 590%;
    background-position: 13.452914798206278% 6.802721088435374%;
}


.download{
    display: flex;
}
.qr-code-footer{
    height: 86px;
    margin: 0 20px 0 0;
}
.list-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-app img{
    width: 80px;
    padding: 3px 0;
}
.area-ad{
    width: 100%;
    padding: 42px 0 37px;
}
._kttct{
    width: 1200px;
    margin: 0 auto;
    font-family:  Helvetica, Arial, sans-serif;
}
._kttct div {
    display: flex;
    justify-content: center;
}
.chinhsach .name-cs{
    padding: 0 25px;
    font-size: 13px;
    color: #707070d8;
    border-left: 1px solid #dfdfdf;
    text-transform: uppercase;
}
.chinhsach{
    margin-bottom: 35px;
}
.tem-cn{
    width: 120px;
    height: 45px;
    background-image: url('./img/lh.png');
    overflow: hidden;
    background-size: 617.5% 393.3333333333333%;
    background-position: 34.13848631239936% 84.0909090909091%;
    margin: 0 20px;
}
.vantay{
    width: 48px;
    height: 48px;
    background-image: url('./img/lh.png');
    overflow: hidden;
    background-size: 1543.75% 368.75%;
    background-position: 100% 35.65891472868217%;
}
.info-ct{
    font-size: 12px;
    color: #565656de;
    margin-top: 8px;
}
.name-ct{
    margin-bottom: 25px;
}